.leaflet-container {
  min-height: 400px;
  width: 98%;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: #719ee3;
  //background-color: #e391d1;


}

.body {
}

button {
  margin: 1em;
}
